html {
    max-width: 110ch;
    padding: 1em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

h1 {
    color: var(--sl-color-primary-500);
}

p, ul, ol {
    margin-bottom: 1em;
    color: #1d1d1d;
    font-family: Roboto, sans-serif;
}

.grid .row {
    margin-bottom: 1em;
}

#tokens > span {
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
}